html,body{
    height: 100%;
}

#mapid{
    height: 100%
}



#interface button{
    z-index: 400;
    position: absolute;
}


#buttons button{
    background-color: rgb(150, 150, 150);
    opacity: 100%;
}

#circleButton button{
    background-size:cover;
    cursor:pointer;
    width:70px;
    height:70px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    transition-duration: 0.4s;
    outline: none;
}

#circleButton button:hover{
    background-size:cover;
    transition-duration: 0.4s;
}

#right button{
    right:5%;
}

#left button{
    left:5%;
}

#communityMaps{
    background:url(./images/earth.png) no-repeat;
    top:5%;
}
#communityMaps:hover{
    background:url(./images/earthb.png) no-repeat;
}


#savedMaps{
    background:url(./images/Tmap.png) no-repeat;
    top:15%;
}
#savedMaps:hover{
    background:url(./images/Tmapb.png) no-repeat;
}


#placesList{
    background:url(./images/Ftag.png) no-repeat;
    top:25%;
}
#placesList:hover{
    background:url(./images/Ftagb.png) no-repeat;
}


#addAPlaceB{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 12px;
    font-size: 45px;
    width: 650px;
    height: 60px;
    
    bottom: 10%;
    left: 30%;
}

#researcher{
    bottom: 10%;
}

#parameters{
    top: 10%;
}

#parameter{
    top: 10%;
}

.hoverL {
    background-color: rgb(150, 150, 150);
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition-duration: 0.7s;
}

.hoverL:before {
    content: '';
    background: linear-gradient(45deg, #fafafa, #c7c7c7, #fafafa);
    position: absolute;
    top: -6px;
    left:-6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: glowing 15s linear infinite;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 10px;
    }

.hoverL:hover{
    background-color: #ffffff;
    color: rgb(150, 150, 150);
    opacity: 0;

    border: 5px solid rgb(150, 150, 150);
}
.hoverL:hover:before {
    opacity: 1;
}

.hoverL:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
content: '';
background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
position: absolute;
top: -2px;
left:-2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 20s linear infinite;
opacity: 0;
transition: opacity .3s ease-in-out;
border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}