html,body{
    height: 100%;
}

#mapid{
    height: 100%
}


#interface button{
    z-index: 400;
    position: absolute;
}


#buttons button{
    background-color: rgba(92, 94, 88, 0.661);
    opacity: 200%;
}

#right button{
    right:5%;
}

#left button{
    left: 5%;
}


#communityMaps{
    top:5%;
}

#savedMaps{
    top:15%;
}

#placesList{
    top:25%;
}

#addAPlaceB{
    bottom: 10%;
    left: 40%;
}

#researcher{
    bottom: 10%;
}

#parameters{
    top: 10%;
}

