<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="styles/main.css">

        <!--Leaflet css:-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        
        <title>Map Tagger</title>
    </head>

    <body>

        <div id="mapid"></div>

        <!--All panels which are shown on the map:-->
        <div id="interface">

            <div id="buttons">

                <div id ="circleButton">

                    <div id="right">
                        <button id="communityMapsB"></button>
                        <button id="savedMapsB"></button>     
                        <button id="placesListB"></button>
                    </div>

                    <div id="left">
                        <button id="researcher" href="#popup1"></button>
                        <button id="parameters"></button>
                    </div>

                </div>
                
                <button class="hoverL" id="addAPlaceB">+</button>

            </div><!--End of buttons div-->

            
            <div class="overlay">
                <div class="PopupMenu" id="addAPlaceMenu">
                    <p>
                        <form>
                            <input name="place" type="text" class="AddNameInput" id="addNamePlace" placeholder="Name this place..." autocomplete=off>
                            <textarea maxlength=255 name="description" class="AddDescriptionInput" id="addDescriptionPlace" placeholder="Describe this place..." rows=10 cols=72 autocomplete=off></textarea>
                            <button class="CloseButton" type="reset">x</button>
                            <button id="addImages" type="button">add image</button>
                            
                            <h2>Tags :</h2>
                            <textarea id="addAPlaceTags" rows="7" cols="33" disabled></textarea>
                            <input type="text" placeholder="add a new tag..." id="addATagInput" autocomplete="off"/>
                            <button id="addATagButton" type="button">Add</button>

                            <!--BELOW: USELESS FOR NOW-->
                            <script id="templateAddPlaceTags" type="text/template">
                                <span class="addOneTag"> <%=addOneTagName %> </span>
                            </script>


                            <select name="mapChoice" class="PopupChoice" id="mapChoicePlace" placeholder="Choose a map" required>
                                <option value="CAMap">--- Choose a map ---</option>
                            </select>
                            <!--Below: The template for the div above-->
                            <script id="templateMapChoicePlace" type="text/template">
                                <option value= <%= valueMapChose %> > <%= nameMap %> </option>
                            </script>
                   
                            <button class="createOkButton" id="editPlace" type="reset">Ok</button>
                        </form>
                    </p>
                </div>

                <div class="PopupMenu" id="addAMapMenu"> 
                    <p>
                        <form>
                            <input name="map" type="text" class="AddNameInput" id="addNameMap" placeholder="Name this map..." autocomplete=off required>
                            <textarea maxlength=255 name="description" class="AddDescriptionInput" id="addDescriptionMap" placeholder="Describe this map..." rows=10 cols=72 autocomplete=off></textarea>
                            <button class="CloseButton" type="reset">x</button>
                            <select name="confidentiality" class="PopupChoice" id="confidentialityChoiceMap" placeholder="confidentiality" required>
                                <option value="PUBLIC">Public</option>
                                <option value="PRIVATE">Private</option>
                            </select>
                            <button class="createOkButton" id="editMap" type="reset">Ok</button>
                        </form>
                    </p>

                </div>

            </div>
         
            

            <div class="Menu" id="communityMapsMenu">
                <h1>Community Maps</h1>
                
                <div id="communityMapsButtons" class="Scrollbar"></div>
                <!--Below: the script for the div above!-->
                <script id="templateOneCommunityMapButton" type="text/template">
                    <p class='OneDiv'>
                        <label class='labelOneDiv'> <%= nameMap %> </label>
                        <button class='buttonShowsDetails' id= <%= oneCommunityMapButtonId %> > > </button>
                    </p>
                </script>


                <button class="MenuQuit" id="communityMapsMenuQuit">Close</button>
            </div>
        
            <div class="Menu" id="savedMapsMenu">
                <h1>My Maps</h1>
                <div id="savedMapsButtons" class="Scrollbar">
                    <!--Here are dynamically added the maps of the current user-->              
                </div>
                <!--Below: the script for the div above!-->
                <script id="templateSavedMapsButton" type="text/template">

                    <p class='OneDivSMM' id= <%= oneMapDivId %> >
                    <input type='checkbox' id= <%= checkBoxMapId %>  <%= checked %> />
                    <label for= <%= checkBoxMapId %> > <span class='spanLabel'></span> <%= nameMap %> </label>
                        
                    <button class='buttonShowsDetails' id= <%= buttonOneMapMenuId %> >  > </button>
                    </p>

                </script>

                <button id="addAMapB">Add a map</button>
                <button class="MenuQuit" id="savedMapsMenuQuit">Close</button>

                
            </div>

            <div class="Menu" id="placesListMenu">
                <h1>My Places</h1>       
                <div id="placesListButtons" class="Scrollbar"></div>

                <!--Below: the script for the div above!-->
                <script id="templateOnePlaceButton" type="text/template">
                    <p class='OneDiv'>
                        <label class='labelOneDiv'> <%= namePlace %> </label>
                        <button class='buttonShowsDetails' id= <%= onePlaceButtonId %> > > </button>
                    </p>
                </script>

                <button class="MenuQuit" id="placesListMenuQuit">Close</button>            
            </div>
            
            <div class="Menu" id="onePlaceMenu">
                <h1><!--Here the name of the place--></h1>       
                <textarea rows=8 cols=32 disabled><!--Description of the place:--></textarea>
                <button class="modifyButton" id="modifyPlace">Modify place</button>
                <button class="MenuQuit" id="onePlaceMenuQuit">Close</button> 
            </div>

            <div class="Menu" id="oneMapMenu">
                <h1 id="nameOneMapMenu"><!--Here the name of the map--></h1>       
                <textarea rows=8 cols=32 disabled id="descriptionOneMapMenu"><!--Description of the map:--></textarea>
                
                <!--list of places of this map-->
                <div id="oneMapPlaces" class="Scrollbar"></div>
                <script id="templateOneMapPlaces" type="text/template">
                    <p class='OneDiv' id= <%= oneMapPlaceId %> >
                        <label class='labelOneDiv'><%= namePlace %></label>
                        <button class='buttonShowsDetails' id= <%= buttonOnePlaceMenuId %> > > </button>
                    </p>
                </script>


                <button class="modifyButton" id="modifyMap">Modify map</button>
                <button class="MenuQuit" id="oneMapMenuQuit">Close</button> 
            </div>
        
        </div> <!--End of interface div-->

	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        
        <!--Leaflet javascript:-->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        20
        <script type="text/javascript" src="scripts/main.js"></script>

    </body>
</html>


